footer{
    min-height: 480px;
    border-top: 1px solid #ccc;
    margin-top: 90px;
}

.footer-list{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 70px;
}
.footer-item{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 12px 0;
    p{
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        color: #767676;
    }
    a{
        font-weight: 400;
        font-size: 11px;
        line-height: 12px;
        color: #767676;
    }
    div{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        gap: 12px 0;
    }
    span{
        display: flex;
        align-items:center;
        gap: 0 3px;
        svg{
            font-size: 20px;
        }
    }
}
.footer-discription{
    display: flex;
    align-items:center;
    margin-top: 75px;
    span , b{
        font-weight: 400;
        font-size: 11px;
        line-height: 11px;
        color: #41413F;
    }
    a{
        font-weight: 400;
        font-size: 10px;
        line-height: 11px;
        text-decoration-line: underline;
        color: #707070;
        padding-left: 5px;
    }
}